@(nameItems: Seq[tk.monnef.mcmapper.MappingObject], searchForm: Form[String], createdOn: String, suppressResults: Boolean, thisURL:String, searchFor:String = "")

@import helper._

@main("srgBuddy", thisURL) {
        <div class="container">
            @form(routes.Application.search) {
                @inputText(searchForm("q"), 'placeholder -> "Search query", '_label -> "")
                <input type="submit" value=">" id="searchButton" class="depth">
            }
        </div>

        @if(!suppressResults){
        <div class="container">
            <h2>Results for "@searchFor"</h2>
            @nameItems.size result(s)
            <ul>
                @nameItems.map { item =>
                    <li>
                        @item.toString
                    </li>
                }
            </ul>
        </div>
        }

        <div class="container">
        <p id="info-text">Inner DB created on @createdOn.</p>
        </div>
}
