@(title: String, thisURL: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.3.custom.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
        <script>
$(function() {
    $("#acc").css("visibility", "visible");
    $("#acc a").css("visibility", "visible");
    $("#tabs").tabs();
    $("input[type=submit], button").button();
    $("#logo1").dblclick(function(){
        $("#logo1").fadeOut(1200);
    });
    $("#logo2").click(function(){
        $("#logo1").fadeIn(1200);
    });
});
        </script>
    </head>
    <body>
        <noscript>
            <div id="nojs">
                Please enable (or install browser which supports) JavaScript - e.g. <a href="http://www.mozilla.org/firefox">Firefox</a> or <a href="http://google.com/chrome ">Chrome</a>.<br>
                Then <a href="@thisURL">reload</a> this page.
            </div>
        </noscript>
        <div id="pageWrapper" class="center">
            <div id="acc" class="xui-widget-content">
                <div id="tabs">
                    <div id="header">
                        <div id="littleHeader">
                            <span id="logoWrapper">
                                <img id="logo1" clas="imgFade" src="@routes.Assets.at("images/logo.png")">
                                <img id="logo2" src="@routes.Assets.at("images/logo2.png")">
                            </span>
                            <span id="appText"><a href="@routes.Application.search">srgBuddy</a></span>
                            <div id="subTitle">
                                <span id="subTitleCont">online <a href="http://mcp.ocean-labs.de" title="Mod Coder Pack">MCP</a> mapping viewer</span>
                                <span id="subTitleCreated">created by <a href="http://twitter.com/monnef">monnef</a></span>
                            </div>
                        </div>
                    </div>

                    <ul>
                        <li><a href="#tabs-1">Search</a></li>
                        <li><a href="#tabs-2">About</a></li>
                        <li><a href="#tabs-3">Credits</a></li>
                    </ul>
                    <div id="tabs-1">
                        @content
                    </div>
                    <div id="tabs-2">
                        <div id="about" class="customList">
                        </div>
                    </div>
                    <div id="tabs-3">
                        <div id="credits" class="customList">
                            Here lies a list with all the libraries and tools I used to create this page.
                            @tabs(List(
                            // title, url, comment
                            ("Scala", "http://scala-lang.org/", "interesting fresh JVM language"),
                            ("Play Framework", "http://www.playframework.com/", "web framework written in Scala using Akka actor model"),
                            ("IntelliJ IDEA", "https://www.jetbrains.com/idea/", ""),
                            ("LESS", "http://lesscss.org/", "dynamic stylesheet language"),
                            ("Minecraftory", "http://www.dafont.com/minercraftory.font", "header font"),
                            ("Russo One", "http://www.dafont.com/russo-one.font", "menu font"),
                            ("", "", ""),
                            ("", "", "")
                            ))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
